<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IQoniacTestTaskService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:57363/QoniacTestTaskService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IQoniacTestTaskService"
                contract="IQoniacTestTaskService" name="BasicHttpBinding_IQoniacTestTaskService" />
    </client>
  </system.serviceModel>
</configuration>